<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 日志记录路径，此处为相对路径，即站点根目录 -->
      <file value="Log4net/Log4netFile.txt" />
      <!-- 日志记录方式，此处为追加模式 -->
      <appendToFile value="true" />
      <!-- 日志文件滚动模式，此处定义为复杂模式 -->
      <rollingStyle value="Composite" />
      <!-- 日志文件名规则，结合上一点配合使用，最终日志文件为logs\ERROR\2013\201309\20130927.log -->
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.log'" />
      <!-- 如下参数可直接使用，就不多做阐述，主要是上面的参数，其他教程没有 -->
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>
  </log4net>
</configuration>